.carouselContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.prevProfileContainer{
    pointer-events: auto;
}

.curProfileContainer{
    position: absolute;
}

.nextProfileContainer{
    pointer-events: auto;
}